// cart container style
.cart {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    gap: 20px;


    // cart item style container
    .item {
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        width: calc((100% - 40px) / 3);
        padding: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
        background-size: cover;

        // cart media query for max 900px width
        @media screen and (max-width: 900px) {
            width: calc((100% - 40px) / 2);
        }
        
        // cart media query for max 600px width
        @media screen and (max-width: 600px) {
            width: calc(100%);
    }

    // cart top container style
        .cartTop {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: space-between;

            // cart title style
            .title {
                font-size: 14px;
            }

            // cart title icon
            .icon {
                align-self: center;
                color: rgb(168, 168, 168);
                font-size: 18px;
            }
        }

        // cart bottom container style
        .cartBottom {
            display: flex;
            justify-content: center;
            flex-direction: column;

            // cart monthly visiter/likes/etc counter style
            .counter {
                text-align: center;
                font-size: 22px;
                letter-spacing: 1;
                font-weight: 600;
                color: rgb(62, 62, 62);
                margin-bottom: 10px;
            }

            // cart user image container
            .userImageContainer {
                .userImage {
                    margin: 0 auto;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    padding: 6px;
                    border: 1px solid rgb(168, 168, 168);

                    // user image
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

            }
        }
    }
}