.navbar {
    flex: 1;
    height: 60px;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 1px 1px 8px 1px rgba(154,154,154,0.6); 
    box-shadow: 1px 1px 8px 1px rgba(154,154,154,0.6);


    .searchBox {
        margin: 10px;
        overflow: hidden;
        display: flex;
        height: calc(100% - 20px);
        width: 50%;
        // border: 1px solid gray;
        align-items: center;

        .icon {
            margin-right: 5px;
            color: gray;
        }

        input {
            background-color: transparent;
            // padding: 2px;
            font-size: 14px;
            padding: 0 10px;
            width: 70%;
            height: 100%;
            border: none;
            outline: none;
        }

        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    .userBox {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .userNotification {
            ul {
                display: flex;
                list-style-type: none;
                align-items: center;

                li {
                    align-self: center;
                    margin-right: 10px;
                    position: relative;

                    .icon {
                        font-size: 27px;
                    }

                    .notificationCount {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: -3px;
                        right: 2px;
                        height: 12px;
                        width: 12px;
                        border-radius: 50%;
                        background-color: red;
                        color: white;
                        font-size: 10px;
                    }
                }
            }
        }

        .userProfile {
            display: flex;
            align-items: center;

            .userImage {
                position: relative;
                width: 40px;
                height: 40px;
                margin-right: 10px;
                border-radius: 50%;
                
                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                span{
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 1px;
                    right: 2px;
                    background-color: green;
                }
            }

            .userName {
                font-size: 16px;
                font-weight: 500;
                margin-right: 10px;
            }
        }
    }
}