@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.app {
    font-family: 'Poppins', sans-serif;
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
}

:root {
    --color: "white";
    --box-shadow: 1px 1px 6px 2px rgba(112, 112, 112, 0.71);
}